
{% extends "Header.html" %}

{% block content_block %}
<h3>イベント一覧</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 12%;">開催日</th>
      <th scope="col" style="width: 15%;">イベント名</th>
      <th scope="col" style="width: 35%;">講演</th>
      <th scope="col" style="width: 23%;">講師</th>
      <th scope="col" style="width: 5%;"></th>
    </tr>
  </thead>
  <tbody>
    {% for event in event_list %}
    <tr>
      <td>{{ event.day }}</td>
      <td>{{ event.name }}</td>
      <td><a href="/kouenlist/detail3/{{ event.kouen.id }}/">{{ event.kouen.name }}</a></td>
      <td>{{ event.kouen.koushi }}</td>
      <td><a href="detail/{{ event.id }}">詳細</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container">
  <p>
    <a class='btn btn-primary' href="{% url 'App:create' %}">新規登録</a>
    <a href="{% url 'App:home' %}" class="btn btn-secondary">戻る</a>
  </p>
  <br>
</div>

<!--
<h2>参加者一覧</h2>
<div class="container">
  <p><a class='btn btn-primary' href="{% url 'App:create2' %}">新規登録</a></p>
  <br>
</div>

<h2>講演一覧</h2>
<div class="container">
  <p><a class='btn btn-primary' href="{% url 'App:create3' %}">新規登録</a></p>
  <br>
</div>
-->
{% endblock %}
