
{% extends "Header.html" %}

{% block content_block %}
<div class="row justify-content-center">
  <div class="col-md-6 form-container">
    <h3>
      {% if not form.instance.pk %}
      イベント・講演　新規登録
      {% else %}
      イベント・講演　情報更新
      {% endif %}
    </h3>
    <br>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <!--<table>
      {{form}}
      </table> -->
      <input type="submit" class='btn btn-primary' value="登録">
      <a button onclick="history.back()" class='btn btn-danger' >キャンセル</a>
    </form>
  </div>
</div>
{% endblock %}