
{% extends "Header.html" %}

{% block content_block %}
<h3>講演リスト</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">日にち</th>
        <th scope="col">演題</th>
        <th scope="col">講師</th>
        <th scope="col">所属</th>
        <th scope="col">例会名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for a in kouen_list %}
      <tr>
        <td>{{ a.event.day }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.koushi }}</td>
        <td>{{ a.company }}</td>
        <td>{{ a.event.name }}</td>
        <td><a href="detail3/{{ a.id }}">詳細</a></td>
      </tr>
      {% endfor %}
     <tbody>
  </table>

<br>
<h3>講演新規登録</h3>
<div class="container">
  <p>
    <a class='btn btn-primary' href="{% url 'App:create3' %}">新規登録</a>
    <a href="{% url 'App:home' %}" class="btn btn-secondary">戻る</a>
  </p>
  <br>
</div>

{% endblock %}
