
{% extends "Header.html" %}

{% block content_block %}
<h2>講演リスト</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">日にち</th>
        <th scope="col">演題</th>
        <th scope="col">講師</th>
        <th scope="col">所属</th>
        <th scope="col">例会名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for a in kouen_list %}
      <tr>
        <td>{{ a.event.day }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.koushi }}</td>
        <td>{{ a.company }}</td>
        <td>{{ a.event.name }}</td>
        <td><a href="detail3/{{ a.id }}">詳細</a></td>
      </tr>
      {% endfor %}
     <tbody>
  </table>

<br>
<h2>講演新規登録</h2>
<div class="container">
  <p><a class='btn btn-primary' href="{% url 'App:create3' %}">新規登録</a></p>
  <br>
</div>

{% endblock %}
