
{% extends "Header.html" %}

{% block content_block %}
<div class="row justify-content-center">
  <div class="col-md-6 form-container">
    <h3>
      {% if not form.instance.pk %}
      メンバー　新規登録
      {% else %}
      メンバー情報を更新
      {% endif %}
    </h3>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {% if form.instance.image %}
      <div>
        <img src="{{ form.instance.image.url }}" alt="メンバーの写真" style="max-width: 200px;">
      </div>
      {% endif %}
      <br>
      <input type="submit" class='btn btn-primary' value="登録">
      <a button onclick="history.back()" class='btn btn-danger' >キャンセル</a>
    </form>
  </div>
</div>

{% endblock %}