
{% extends "Header.html" %}


{% block content_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'App_Folder_css/style.css' %}">

<h3>青技交メンバー</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">資格</th>
        <th scope="col">部門</th>
        <th scope="col">会員</th>
        <th scope="col">都道府県</th>
        <th scope="col">写真</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for member in member_list %}
      <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.shikaku }}</td>
        <td>
        {% for a in member.bumon.all %}
          {{ a.name }}
          <br>
        {% endfor %}
        </td>
        <td>{{ member.kaiin }}</td>
        <td>{{ member.pref }}</td>
        <!--<td>{{ member.image }}</td> -->
        {% if member.image %}
          <!--<td>{{ member.image.url }}</td> -->
          <td><img src= "{{ member.image.url }}" alt="画像読込エラー" width="100" height="100"></td>
        {% else %}
          <td>No image file </td>
        {% endif %}
        <td><a href="detail2/{{ member.id }}">詳細</a></td>
      </tr>
      {% endfor %}
     <tbody>
  </table>

<br>
<h3>メンバー新規登録</h3>
<div class="container">
  <p>
    <a class='btn btn-primary' href="{% url 'App:create2' %}">新規登録</a>
    <a href="{% url 'App:home' %}" class="btn btn-secondary">戻る</a>  
  </p>
  <br>
</div>

{% endblock %}
